<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.fanfan.hr.mapper.EmpSalaryMapper" >
  <resultMap id="BaseResultMap" type="com.fanfan.hr.pojo.EmpSalary" >
    <constructor >
      <idArg column="id" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="eid" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="sid" jdbcType="INTEGER" javaType="java.lang.Integer" />
    </constructor>
  </resultMap>
  <sql id="Base_Column_List" >
    id, eid, sid
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from emp_salary
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from emp_salary
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.fanfan.hr.pojo.EmpSalary" >
    insert into emp_salary (id, eid, sid)
    values (#{id,jdbcType=INTEGER}, #{eid,jdbcType=INTEGER}, #{sid,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.fanfan.hr.pojo.EmpSalary" >
    insert into emp_salary
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="eid != null" >
        eid,
      </if>
      <if test="sid != null" >
        sid,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="eid != null" >
        #{eid,jdbcType=INTEGER},
      </if>
      <if test="sid != null" >
        #{sid,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.fanfan.hr.pojo.EmpSalary" >
    update emp_salary
    <set >
      <if test="eid != null" >
        eid = #{eid,jdbcType=INTEGER},
      </if>
      <if test="sid != null" >
        sid = #{sid,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.fanfan.hr.pojo.EmpSalary" >
    update emp_salary
    set eid = #{eid,jdbcType=INTEGER},
      sid = #{sid,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="showEmpSalary" parameterType="com.fanfan.hr.common.EmpinfoInputDTO"
    resultType="com.fanfan.hr.common.ShowSalaryDTO">
        SELECT
            t1.*,
            e.`name`
        FROM
            (
                SELECT
                    id,
                    eid,
                    IFNULL(aftersalary, beforesalary) salary
                FROM
                    employee_sal es
                WHERE
                    eid IS NOT NULL
                <if test="id != null">
                  and eid = #{id,jdbcType=INTEGER}
                </if>
            ) t1
        LEFT JOIN employee e ON e.id = t1.eid
        limit #{beginPage,jdbcType=INTEGER},#{pageSize,jdbcType=INTEGER}
  </select>
  <select id="showAllEmpSalary" parameterType="com.fanfan.hr.common.EmpinfoInputDTO"
    resultType="java.lang.Integer">
    SELECT
    count(*)
    FROM
    (
    SELECT
    id,
    eid,
    IFNULL(aftersalary, beforesalary) salary
    FROM
    employee_sal es
    WHERE
    eid IS NOT NULL
    <if test="id != null">
      and eid = #{id,jdbcType=INTEGER}
    </if>
    ) t1
    LEFT JOIN employee e ON e.id = t1.eid
  </select>
</mapper>